.dialog__task {
    position: relative;
    width: 25rem;
    border: 4px solid white;
    border-radius: .6rem;
    padding: 2rem;
    background-color: #242424;
}

.block__backdrop--invisible {
    display: none;
}

.block__backdrop--visible {
    z-index: 99;
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    border-radius: .75rem;
    justify-content: center;
}

.dialog__task::backdrop {
    background-color: red;
}

.block__wrapperBackdrop {
    position: relative;
}

.block__formButtons {
    display: flex;
    justify-content: space-between;
}

.form {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.btn__dialogSubmit {
    background-color: green;
}

.btn__dialogSubmit:hover,
.btn__dialogSubmit:focus {
    background-color: rgb(1, 169, 1);
}

.btn__dialogCancel {
    background-color: red;
}

.btn__dialogCancel:hover,
.btn__dialogCancel:focus {
    background-color: rgb(255, 66, 66);
}

@media (max-width:600px) {
    .dialog__task {
        width: 15rem;
        padding: 1rem;
    }

    .btn {
        width: 7rem;
    }
}