.btn {
    border-radius: .5rem;
    border: transparent;
    width: 10rem;
    height: 3rem;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    border: rgb(207, 207, 207) 3px solid;
    border-radius: .5rem;
}

@media (max-width:600px) {
    .btn {
        font-size: .9rem;
    }
}