.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding-bottom: 1rem;
}

.h1__headerMain {
    font-weight: 800;
    font-size: 3rem;
}